@font-face{
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: 'Poppins';
    font-weight: normal;

}

@font-face{
    src: url(../fonts/Poppins-Medium.ttf);
    font-family: 'Poppins';
    font-weight: 500;

}
@font-face{
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-family: 'Poppins';
    font-weight: 600;

}
@font-face{
    src: url(../fonts/Poppins-Italic.ttf);
    font-family: 'Poppins';
    font-weight: 400;
    font-style: italic;

}

@font-face{
    src: url(../fonts/MaterialIcons-Regular.ttf);
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;

}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }